/* Media query breaks - 992px */

#contact-us{
    color:#FFFFFF;
    text-align:left;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 23px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.29);
    border-radius: 8px;
    margin-left:400px;;
}

.contact-info {
    width: 500px;
    height: auto;
    /* background-color: #661EC1; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px;
    color: white;
    text-align:left;
}

.contact-info-heading {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 28px;
    text-align:left;
}

.contact-info-sub-heading {
    margin-bottom: 72px;
    font-size: 18px;
}

.contact-info-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
    justify-content:flex-start;
}

.contact-info-icon {
    margin-right: 30px;
}

.contact-info-value {
    margin-bottom: 0;
    cursor: pointer;
}

.contact-form {
    height: auto;
    margin: 0px 40px;
    display: flex;
    align-items: center;
}

.form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 32px;

}

.input-box {
    position: relative;
    margin-bottom: 32px;
}

.w50 {
    width: 47%;
}

.w100 {
    width: 100%;
}

.input {
    width: 100%;
    resize: none;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777777;
}

.input-msg {
    height: 120px;
}

.input-name {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    pointer-events: none;
    font-size: 16px;
    font-weight: 300;
    transition: 0.3s
}

.input:focus ~ .input-name,
.input:valid ~ .input-name,
.input-msg:focus ~ .input-name,
.input-msg:valid ~ .input-name {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.input-btn {
    position: relative;
    cursor: pointer;
    background-color: #661EC1;
    color: white;
    font-size: 20px;
    border: none;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    float: right;
}

.input-btn:hover {
    background-color: #5816aa;
}

.input-btn:active {
    background-color: #48108b;
}

/* For screens below 992px */
@media (max-width: 992px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info {
        margin: 0;
        width: auto;
        margin-bottom: 32px;
    }

    .contact-form-heading {
        text-align: center;
    }

    .input-btn {
        width: 100%;
    }
}